
body{
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	color: #666;

}


/* 顶部状态条样式  */
.header_con{
	height: 29px;
	background: #f7f7f7;
	border: 1px solid #ddd;
}

.header_welcome{
	width: 1200px;
	height: 29px;
	margin: 0 auto;
	line-height: 29px;
}

.welcome_right span{
	margin: 0 15px;
}

.welcome_right a{
	color: #666;
}

.welcome_right a:hover{
	color: red;
}

/*默认不显示*/
.uer_con{
	display: none;
}

.uer_con em{
	color: orangered;
}

/*  第二行通知注意区  */
.attention_con{
	height: 47px;
	background:rgb(221,221,221);
}

.attention_con p{
	text-align: center;
	line-height: 47px;
	color: rgb(55,171,64);
	font-size: 17px;
}


/* 第三行logo+搜索区  */
.top_area{
	width: 1200px;
	height: 116px;
	margin: 0 auto;
	display: flex;
	/* 声明使用弹性盒布局 */
	justify-content: space-between;
	/* 水平方向：让首末两个子元素顶格，中间元素等分间隙排列 */
	align-items: center;
	/*  垂直方向：让所有子元素在横排上垂直居中 */

}

.logo{
	width: 193px;
}

.logo img{
	width: 193px;
	height: 76px;
}

.search_con{
	width: 620px;
	height:40px;
	border: 1px solid #39a93e;
	background: url(../img/icons.png) 12px -335px no-repeat;

}

.search_con .input_search{
	width: 480px;
	height: 40px;
	border: none;
	margin-left: 40px;
	outline: none;
	/* 去掉input 在输入时的外面高亮框 */
}

.search_button{
	width: 100px;
	height: 40px;
	background: #39a93e;
	color: white;
	border: none;
	font-size: 20px;
	cursor: pointer;
	/* 设置鼠标点击按钮时形状变成一个小手 */
}

.my_shopping{
	width: 200px;
	height: 40px;
	border: 1px solid #ddd;
	text-align: center;
	background: url(../img/icons.png) 12px -298px no-repeat;
}

.my_shopping a{
	color: green;
	line-height: 40px;
	margin-left: 57px;
}

.my_shopping a:hover{
	color: red;
}

.my_shopping span{
	height: 40px;
	width: 40px;
	border: none;
	background: rgb(255,136,0);
	color: white;
	font-size: 18px;
	line-height: 40px;
}

.sub_menu_con{
	height: 40px;
	border-bottom: 2px solid #39a93e;
}

.sub_menu_bar{
	width: 1200px;
	margin: 0 auto;
}

/*全部商品分类 -框样式*/
.sub_menu_bar h1{
	width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #39a93e;
}

.sub_menu_list{
	margin-left: 34px;
	height: 40px;
	line-height: 40px;
}
.sub_menu_list li{
	float:left;
	margin:0 8px;
}

.sub_menu_list li a{
	color: #666;
}
.sub_menu_list li a:hover{
	color: red;
}

/*第五行样式*/
.center_con{
	width: 1200px;
	height: 270px;
	margin:0 auto;
	/*background-color: gold;*/
}

/*ul的样式*/
.sub_nav_list{
	width: 198px;
    height: 270px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.sub_nav_list li{
	height: 44px;
    border-bottom: 1px solid #eee;
    line-height: 44px;
    text-align: center;
    background: url(../img/icons.png) 173px -257px no-repeat;
}
.sub_nav_list li a{
	display: block;
	width: 198px;
	height: 44px;
	color: #333;
}
.sub_nav_list li a:hover{
	color: red;
}

.sub_nav_list .fruit{
	background: url(../img/icons.png) 22px 0px no-repeat;
}
.sub_nav_list .seafood{
	background: url(../img/icons.png) 22px -43px no-repeat;
}
.sub_nav_list .meat{
	background: url(../img/icons.png) 22px -86px no-repeat;
}
.sub_nav_list .eggs{
	background: url(../img/icons.png) 22px -133px no-repeat;
}
.sub_nav_list .vegetable{
	background: url(../img/icons.png) 22px -173px no-repeat;
}
.sub_nav_list .ice{
	background: url(../img/icons.png) 22px -221px no-repeat;
}

/*第五行中间ppt*/
.slide_pic{
	width: 764px;
	height: 269px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	margin:0 auto;
	/* 父元素设置相对定位 */
	position: relative;
	overflow: hidden;
}

.slide_pic #imgList{
	list-style: none;
	/* ul的宽度,每张图片的宽度与左右边距之和，
	不建议写死，建议还是用js写，这样如果增加图片，可以自动调整*/
	 /*width: 4650px; */
	position: absolute;
	left:0;
}
.slide_pic #imgList li{
	float: left;
	margin-right: 10px;
	/* background-color: #bfa; */
}
.slide_pic #nav_con{
	position: absolute;
	bottom: 20px;
	/* 左偏移建议不要写死,如果增加了a标签,不会显示居中 。还是用js写*/
	/* left: 200px; */
}
.slide_pic #nav_con a{
	/* 浮动,转为行内块元素 */
	float: left;
	width: 15px;
	height: 15px;
	margin: 0 10px;
	background-color: #f00;
	opacity:0.5;
	/* 透明度兼容IE */
	filter:alpha(opacity=50);
}
.slide_pic #nav_con a:hover{
	background-color: #fff;
}







/*第五行右边广告*/
.adv_pic{
	width: 235px;
	height: 270px;
	/*background-color:cyan;*/
}
.adv_pic a{
	display: block;
	float:left;
	width: 235px;
	height: 89px;
	border-bottom: 1px solid #eee;
	text-align: center;
}

/*第六行*/
.list_area{
	width: 1200px;
	height: 340px;
	margin:15px auto 0;
}

.list_title{
	height: 38px;
	border-bottom: 2px solid #39a93e;
}
.list_title h3{
	height: 38px;
    line-height: 38px;
    text-indent: 20px;
    color: #39a93e;
    font-size: 16px;
}

/*第六行横排商品列表*/
.goods_con{
	width: 1200px;
	height: 300px;
	margin:0 auto;
}
.goods_bannner{
	width: 200px;
	height: 300px;
	background-color: cyan;
}

.goods_list{
	width: 1000px;
    height: 299px;
    border-bottom: 1px solid #eee;
}
.goods_list li {
    float: left;
    height: 299px;
    width: 249px;
    border-right: 1px solid #eee;
    text-align: center;
}
.goods_list li h4 {
    height: 50px;
    margin:20px auto 0;
}
.goods_list li h4 a:hover{
	color: red;
}

.goods_list li img {
    display: block;
    width: 178px;
    height: 178px;
    border:1px solid #eee;
    margin:0 auto;
}
.goods_list .price{
	height: 50px;
    font-size: 20px;
    line-height: 50px;
    color: #c40000;
}

.footer_bar{
    border-top: 2px solid #39a93e;
    height: 70px;
    margin: 0 auto; 
    text-align: center;
}

.footer_info{
	height: 30px;
	line-height: 30px;
	margin-top:20px;
    margin-left: 423px;
}
.footer_info a,.footer_info span{
	float: left;
}
.footer_info a:hover{
	color: red;
}
.footer_info span{
	margin:0 15px;
}









